<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576668557444-dvbt6i6vi53gk4qom6sto7c66024g7pr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576668557444-dvbt6i6vi53gk4qom6sto7c66024g7pr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>576668557444-a48gf9u789jdns5fv1fjun4tf89tr296.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDcAksBh-3arjmW5JM1j_f3-NZ89gi_od0</string>
	<key>GCM_SENDER_ID</key>
	<string>576668557444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.egitimkocumai</string>
	<key>PROJECT_ID</key>
	<string>gen-lang-client-0786231895</string>
	<key>STORAGE_BUCKET</key>
	<string>gen-lang-client-0786231895.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576668557444:ios:7e8bfac28c5d3f2ee622d1</string>
</dict>
</plist>